.white-background{
    background-color: white;
}
.go-color{
    color: rgb(173, 173, 21);
}
.df-color{
    color: rgb(5, 32, 119);
}
.mt-color{
    color: rgb(46, 126, 14);
}
.ms-color{
    color: rgb(122, 34, 19);
}
.center-text{
    text-align: center;
}
.pesquisa{
    display: inline-block;
    margin: auto;
    text-align: center;
}
div.pesquisa > h2{
    text-align: center;
}

header{
    background-image: linear-gradient(to bottom,#37BEB0 ,#0C6170);
    padding: 10px;
    margin: -10px -10px -3px -10px;
}
header > h1{
    color: white;
    text-align: center;
    font-weight: normal;
    padding: 10px;
}

nav.home-page{
    padding-bottom: 20px;
    background-color: #0C6170;
    box-shadow: 2px 2px 2px #0000006e;
    margin: 0px -10px;
}

nav.home-page > a{
    text-decoration: none;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    margin: 5px;
    padding: 10px;
    font: normal bold 0.9em Arial;
    transition-duration: 0.3s;
    
}


nav.home-page a:hover{
    
    background-color: #a4e5e09f;
    color: #083841;
}
main{
    margin: 0px -10px 10px -10px;
    padding: 20px;
    min-width: 320px;
    max-width: 100%;
    text-align: justify;
    box-shadow: 2px 1px 2px #0000006e;
    
    

}


table{
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

    
}

section{
    display:inline-block;
    margin: 10px 10px 10px 50px;
    padding: 10px 15px 10px 15px;
    vertical-align: top;
    background-color: #e3eef0;
    text-align: left;
    
}
section > h2{
    background-color: #0C6170;
    margin: -10px -14px 15px -15px;
    padding: 10px 15px 10px 30px;
    font-size: 1.2em;
    vertical-align: top;
    color: white;
    text-align: center;
    
}



aside{
    max-width: 300px;
    min-width: 50px;
   
    padding: 0px 10px 10px 10px;
    margin: 10px 0px 10px 30px;
    background-color:#e3eef0;
    text-align: justify;
    display: inline-block;
    border-radius: 10px 10px 0px 0px;
    
}
aside a{
    text-decoration: none;
    color: #08353d;
}
aside a:hover{
    text-decoration: underline;
    
}

aside > h2{
    text-align: center;
    margin: 0px -10px;
    padding: 10px;
    font-size: 1.1em;
    color: white;
    border-radius: 10px 10px 0px 0px;
    background-color: #08353d;
}

aside > h3{
    text-align: center;
}
figure > img{
    max-width: 250px;
    min-width: 50px;
    display: inline-block;
    margin: 10px 10px 10px 0px;
    border-radius: 9em;
}


a.ifood{
    
    padding: 2.6px;
    border-radius: 0.4em;
    color: rgb(170, 9, 9);
}

article{
    display:inline-block;
    margin: 10px 10px 10px 10px;
    padding: 10px 15px 10px 15px;
    
    background-color:#e3eef0 ;
    max-width: 900px;
    min-width: 320px;
    vertical-align: top;
    text-indent: 1em;
    text-align: justify;
    
}
article >p {
    padding: -4px 10px 10px 10px;
}
article > h3{
    font-size: 1.4em;
    background-image: linear-gradient(to right,#0C6170 , #e3eef0);
    margin: -9px 10px 10px -15px;
    padding: 10px;
    color: white;
}

article > h4{
    padding: 0px 10px 0px 10px;

}
table, th, td {
    width: 40%;
    padding: 10px 10px 10px 10px;
    margin: auto;
    text-align: justify;
    border-bottom: 1px solid #0C6170;
    border-collapse: collapse;
    
  }
  th, td {
    background-color: #ffffff;
    
  }
  table tr:hover td  {
    background-color: #e3eef0;
    }
    
div.video{
    background-color: yellowgreen;
    max-width: 300px;
    display: inline-flex;
    
}

footer{
    background-color: #08353d;
   
    height: 200px;
    margin: 20px -10px -10px -10px;
}
nav.redes{
    margin: 10px 10px 10px 132px;
    padding: 10px 10px 10px 10px;
    color: white;
}
nav.redes a{
    padding: 5px 5px 5px 5px;
}

