@charset "UTF-8";

* {
    margin:10px 0px;
    padding: 5px;
}
    header{
    border-style: groove;
    border-color: tomato;

}
nav{
    border: 1px solid rgb(96, 115, 223);

}
ul{
    padding: 20px
}
aside{
    border: 1px solid rgb(96, 223, 164);
}
article{
    border: 1px solid rgb(223, 183, 96);
}
footer{
    border: 1px solid rgb(221, 173, 219);

}
div{
    border: 1px solid rgb(145, 21, 138);

}